<div class="tabela">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRq2Jxjf84zojjLBEJ_4QazUDxs9OtHqklguMWDnP8D8DTfxr4q" alt="W3Schools.com">
  <h1> Leandro Mazute </h1>
  <table>
    <tr>
      <th>Disciplina </th>
      <th>Professor </th>
    </tr>
    <tr>
      <td>Programação Avançada</td>
      <td>Eduardo</td>
      </tr>
    <tr>
      <td>Programação Orientada a Objeto</td>
      <td>Helio</td>
      </tr>
    <tr>
      <td>Programação WEB</td>
      <td>Frank</td>
    </tr>
    </table>
</div>
